{% extends 'main/base_layout.html' %}


{% block main-content %}
 <h1> Welcome to book details </h1>
 <table class="table">
    <thead>
        <tr>
            <td> ID </td>
            <td> Title </td>
            <td> Author </td>
            <td> Genre </td>
        </tr>
    </thead>
    <tbody>

        <tr {% if book_priority > 3 %} style="color:red" {% else %} style="color:green" {% endif %} >
            <td>{{ book_id }} </td>
            <td>{{ book_title }} </td>
            <td> {{ book_author }}</td>
            <td> {{ book_genre}} </td>
        </tr>
    </tbody>

 </table>

{% endblock %}


<a href="{% url 'bookstore:index' %}"> Back to Index</a>
<a href="{% url 'book:books-list' %}"> Back to List</a>