<div class="sliderContainer">
  <div class="allImgs">
    <div class="imgContainer show">
      <img
        src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80"
        alt="img1"
      />
    </div>

    <div class="imgContainer">
      <img
        src="https://images.unsplash.com/photo-1586348943529-beaae6c28db9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1430&q=80"
        alt="img2"
      />
    </div>

    <div class="imgContainer">
      <img
        src="https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt="img3"
      />
    </div>

    <div class="imgContainer">
      <img
        src="https://images.unsplash.com/photo-1431794062232-2a99a5431c6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt="img4"
      />
    </div>
  </div>

  <div class="btnsContainer">
    <button (click)="prev()">Prev</button>
    <button (click)="next()">Next</button>
    <button (click)="slide()">Slide</button>
    <button (click)="stop()">Stop</button>
  </div>
</div>
