@font-face {
  font-family: "digital-clock-font";
  src: url("digital-7.ttf");
}

.container {
  position: relative;
  bottom: 70px;
}
body {
  background-color: #dce4e7;
}
.bgd {
  width: 600px;
  height: 300px;
  position: relative;
  left: 350px;
  top: 100px;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  align-content: center;
  box-shadow: 3px 3px 7px black;
}
.clock {
  background-color: #dddddd;
  width: 450px;
  height: 150px;
  position: relative;
  top: 75px;
}

.week {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 10px;
}
.week > .day {
  color: rgb(2, 2, 29);
  opacity: 0.25;
  font-family: cursive;
}
.watch {
  position: relative;
  left: 105px;
  top: 30px;
  font-family: "digital-clock-font";
  font-size: 70px;
}
.icon {
  position: relative;
  left: 25px;
  top: 15px;
}

.digital {
  position: relative;
  left: 500px;
  opacity: 0.4;
  top: 115px;
  font-family: "Brush Script MT";
  font-size: 70px;
}
.m {
  position: relative;
  left: 400px;
  bottom: 10px;
  color: rgb(2, 2, 29);
}
.setAlarm {
  color: beige;
  font-size: 30px;
  font-family: cursive;
  width: 250px;
  height: 100px;
  background-color: darkcyan;
  border: black;
  border-radius: 10px;
  position: relative;
  left: 530px;
  top: 140px;
  cursor: pointer;
}

.popUp {
  position: relative;
  width: 800px;
  height: 500px;
  background-color: #eeeeee;
  bottom: 450px;
  left: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: none;
}
.setA {
  text-align: center;
  color: black;
  font-family: cursive;
  font-size: 30px;
}
.adj {
  display: flex;
  justify-content: space-around;
}
.adj > div {
  padding: 15px;
  background-color: rgb(197, 197, 238);
  text-align: center;
  color: white;
  background-color: black;
  font-family: cursive;
  font-size: 15px;
}
.btns {
  display: flex;
  justify-content: space-around;
}
.btns > button {
  width: 120px;
  height: 70px;

  border-radius: 0px;
  border-style: none;
  color: white;
  font-family: cursive;
  font-size: 18px;
  cursor: pointer;
}
input {
  width: 70px;
  height: 40px;
  border-style: none;
  margin: 10px;
  text-align: center;
}

.btns > .clear {
  background-color: #941919;
}

.btns > .set {
  background-color: green;
}
